# Archivos y directorios de Node.js
node_modules/
package-lock.json
npm-debug.log
yarn.lock

# Archivos de Cypress
cypress/screenshots/
cypress/videos/

# Configuraciones del editor y entorno
*.log
*.swp
*.swo
.DS_Store
.idea/
.vscode/

# Otros archivos que pueden no ser relevantes para el control de versiones
*.backup
*.bak


